/* Homepage css */
.homepage-form {
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    max-width: 500px;
    border-radius: 5px;
    -webkit-box-shadow: -1px 2px 28px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 28px -9px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 28px -9px rgba(0,0,0,0.75);
    margin-top: 50px;
    margin-bottom: 200px;
}
.homepage-text {
    margin-right: 88px;
}
.text-area {
    resize: none;
    width: 80%;
    height: 200px;
    outline: none;
    overflow: auto;
    padding: 12px;
    border-radius: 0px 0px 5px 5px;
    border: none;
    margin-bottom: 10px;
}
.title-input {
    width: 80%;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    border: none;
    border-bottom: 5px solid lightblue;
    margin-top: 20px;
}
.send-button {
    width: 426px;
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 40px;
    border: 1px solid black;
    border-radius: 5px;
}
.send-button:hover {
    color: white;
    background-color: #8694B8;
    border: 1px solid #8694B8;
    cursor: pointer;
}
.delete-button {
    background-color: crimson;
    width: 426px;
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 40px;
    border: 1px solid black;
    border-radius: 5px;
}
.delete-button:hover {
    color: white;
    background-color: red;
    border: 1px solid red;
    cursor: pointer;
}

.update-button {
    width: 426px;
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 40px;
    border: 1px solid black;
    border-radius: 5px;
}
.update-button:hover {
    color: white;
    background-color: #364A7D;
    cursor: pointer;
}
.logout-link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}